/* Avatar.css */
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;

    padding: 2px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

    user-select: none;
    cursor: pointer;
}